
<div class="card" style="width: 18rem;" *ngFor="let profil of ListProfil">
    <div class="card-body">
        <img class="card-img-top" src="{{profil.avatar}}" alt="Card image cap">
      <h5 class="card-title mt-3">{{profil.prenom}} {{profil.nom}}  </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{profil.email}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{profil.telephone}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{profil.location}}</h6>
      <br>
      <button class="btn btn-success"> update</button>   
    </div>
</div>
