
<div class="card" style="width: 18rem;" *ngFor="let formation of ListFormation">
  <div class="card-body">
    <h5 class="card-title mt-3">{{formation.diplome}} </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{formation.description}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{formation.ecole}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{formation.anneeDebut}} - {{formation.anneeFin}}</h6>
    <br>
    <button class="btn btn-success"> update</button>&nbsp;
    <button class="btn btn-danger"> Delete</button>   
  </div>
</div>
